<p id="notice"><%= notice %></p>

<h1>Users List</h1>
    <% @users.each do |user| %>
        <%= cl_image_tag user.profile_pic %><br>
        Name: <%= user.name %><br>
        Email: <%= user.email %><br>
        <hr>

    <% end %>


<%= link_to 'New User', new_user_path %>
