<div style = "color:red; font-size:20px">
<%=flash[:error]%>
</div>



<%= form_with(model: snap, local: true, html: {multipart: true}) do |form| %>
  <% if snap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snap.errors.count, "error") %> prohibited this snap from being saved:</h2>

      <ul>
      <% snap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <!-- <div class="field">
    <%= form.label :snap_name %>
    <%= form.text_field :snap_name, id: :snap_snap_name %>
  </div> -->



  <div class="container">
      <div class="row">
          <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary stickerbtn" type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    Stickers
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <img   class="sticker" src="/assets/cat_face.png"></img>
                  <img   class="sticker"  src="/assets/glasses.png">
                  <img   class="sticker" src="/assets/cat_face.png">
                  <img   class="sticker"  src="/assets/catty.png">
                  <img   class="sticker" src="/assets/puppy.png">
                  <img   class="sticker" src="/assets/reddog.png">
                  <img   class="sticker"  src="/assets/rabbit.png">
                  <img   class="sticker" src="/assets/unicorn.png">
              </div>
            </div>

            <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle overlaybutton"  type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Overlays
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <img   width="640" height="480" class="addOverlay"  data-name="glasses" src="/assets/glasses.png">
                <img   width="1000" height="480" class="addOverlay" data-name="cat_face" src="/assets/cat_face.png">
                <img   width="640" height="480" class="addOverlay" data-name="mustache" src="/assets/mustache.png">
                <img   width="640" height="480" class="addOverlay" data-name="mustache2" src="/assets/mustache2.png">
                <img   width="640" height="480" class="addOverlay" data-name="reddog" src="/assets/reddog.png">
                <img   width="640" height="480" class="addOverlay" data-name="mona" src="/assets/rabbit.png">
                <img   width="640" height="480" class="addOverlay" data-name="unicorn" src="/assets/unicorn.png">
            </div>
            </div>

            <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" class="overlaybutton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a  id="addFilter" class="sepia" class="dropdown-item" href="#">Sepia</a>
              <input type="range" value="0" min="0" max="100" id="filter-val-sepia">

              <a  id="addFilter" class="sepia" class="dropdown-item" href="#">b/w</a>
              <input type="range" value="0" min="12" max="96" id="filter-val-bw">

              <a  id="addFilter" class="sepia" class="dropdown-item" href="#">mix</a>
              <input type="range" value="0" min="12" max="96" id="filter-val-mix">


            </div>
            </div>

            <br>
            <button class="btn btn-primary" id="addText" type="button">Add Text

            </button><input type="color" value="#005E7A" id="font-color">
            <br>
            <button class="btn btn-primary" id="addFreeDraw" type="button">Free Draw

            </button><input type="range" value="48" min="12" max="96" id="font-size">
            <hr>
          </div>





          <div class="col-sm-8">
            <div id="myOnlineCamera">
              <video   id="video" width="640" height="480" autoplay="true"></video>
              <canvas  id="canvas" width="640" height="480" class="border border-dark"></canvas>
              <canvas  id="testcanvas" width="200" height="200" class="border border-dark"></canvas>
            </div>


          </div>


          <div class="col-md-2">
            <div id="gifsbar">
            <h3> GIFs </h3>
            <button id="addGif" type="button" class="btn btn-primary">Create GIF</button>
            <button id="endGif" type="button" class="btn btn-primary">End GIF</button>
            <div id="gifPreview">
            </div>

            </div>
          </div>
      </div>
<div class="col-md-2">
</div>
      <div  class="col-md-8">
        <button id="takesnapshot" type="button" class="btn btn-primary">Snapshot</button>
        <button type="button" class="btn btn-primary btn-lng"><a id="download">Download</a></button>
        <button id="save" type="button" class="btn btn-primary">Save</button>

<div class="col-md-2">

</div>
  </div>


<!--

  <div class="actions">
    <%= form.submit %>
  </div> -->


<% end %>
