<%= form_with(model: snap, local: true, html: {multipart: true}) do |form| %>
  <% if snap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snap.errors.count, "error") %> prohibited this snap from being saved:</h2>

      <ul>
      <% snap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <!-- <div class="field">
    <%= form.label :snap_name %>
    <%= form.text_field :snap_name, id: :snap_snap_name %>
  </div> -->



  <div class="container">
      <div class="row">
          <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stickers
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <img   class="sticker" src="/assets/cat_face.png"></img>
                  <img   class="sticker"  src="/assets/glasses.png">
                  <img   class="sticker" src="/assets/cat_face.png">
                  <img   class="sticker"  src="/assets/catty.png">
                  <img   class="sticker" src="/assets/puppy.png">
                  <img   class="sticker" src="/assets/reddog.png">
                  <img   class="sticker"  src="/assets/rabbit.png">
                  <img   class="sticker" src="/assets/cat_face.png">
                  <img   class="sticker" src="/assets/unicorn.png">
              </div>
            </div>

            <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Overlays
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <img   width="640" height="480" class="addOverlay"  data-name="glasses" src="/assets/glasses.png">
                <img   width="1000" height="480" class="addOverlay" data-name="cat_face" src="/assets/cat_face.png">
                <img   width="640" height="480" class="addOverlay" data-name="catty" src="/assets/catty.png">
                <img   width="640" height="480" class="addOverlay" data-name="puppy" src="/assets/puppy.png">
                <img   width="640" height="480" class="addOverlay" data-name="reddog" src="/assets/reddog.png">
                <img   width="640" height="480" class="addOverlay" data-name="rabbit" src="/assets/rabbit.png">
                <img   width="640" height="480" class="addOverlay" data-name="unicorn" src="/assets/unicorn.png">
            </div>
            </div>

            <button  class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="addFilter" type="button">Try Filters</button>
            <br>
            <button  class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="addText" type="button">Try Adding Text</button>
            <br>
            <!-- <button id="addFreeDraw" type="button">Try Free Drawing</button> -->
            <input class="jscolor {onFineChange:'update(this)'}" value="cc66ff">
            <hr>

          </div>




          <div class="col-sm-8">
            <div id="myOnlineCamera">
              <video  class="border border-primary" id="video" width="640" height="480" autoplay></video>
              <canvas class="border border-primary" id="canvas" width="640" height="480"></canvas>
              <canvas class="border border-primary" id="testcanvas" width="200" height="200"></canvas>
            </div>


          </div>


          <div class="col-md-2">
            <div id="gifsbar">
            <h3> GIFs </h3>
            <button  class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="addGifs" type="button">Create GIF</button>
            <button   class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="endGif" type="button">End GIF</button>
            <div id="gifPreview">
            </div>

            </div>
          </div>
      </div>

      </div  class="col-md-12">
        <button   class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="snapshot" type="button">Take Snapshot</button>
        <button  class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><a id="download">Download To Computer</a></button>
        <button   class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="save" type="button">Save in Database</button>

      </div>


<!--

  <div class="actions">
    <%= form.submit %>
  </div> -->


<% end %>
