<%= form_with(model: snap, local: true, html: {multipart: true}) do |form| %>
  <% if snap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snap.errors.count, "error") %> prohibited this snap from being saved:</h2>

      <ul>
      <% snap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :snap_name %>
    <%= form.text_field :snap_name, id: :snap_snap_name %>
  </div>
  <div class="field">
    <div id="myOnlineCamera">
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" width="640" height="480"></canvas>
    <canvas id="testcanvas" width="200" height="200"></canvas>
    <img  src="/assets/overlays/cat_face.png"></img>
    </div>

    <h3> Picture Effects </h3>
    <button id="addOverlay" type="button">Try Masks</button>
    <button id="addFilter" type="button">Try Filters</button>
    <button id="addText" type="button">Try Adding Text</button>
    <button id="addFreeDraw" type="button">Try Free Drawing</button>
    <hr>
    <h3> GIFs </h3>
    <button id="addGifs" type="button">Create GIF</button>
    <button id="endGif" type="button">End GIF</button>
    <hr>
    <h3> Save Options </h3>
    <hr>

    <button id="snapshot" type="button">Take Snapshot</button>
    <button><a id="download">Download To Computer</a></button>
    <button id="save" type="button">Save in Database</button>

  </div>


<!--

  <div class="actions">
    <%= form.submit %>
  </div> -->


<% end %>
