<p id="notice"><%= notice %></p>

<h1>Snaps</h1>

<table>
  <thead>
    <tr>
      <th>Snap</th>
      <th>Snap name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snaps.each do |snap| %>
      <tr>
        <% if snap.snap.present? %>
        <td><%= cl_image_tag snap.snap %></td>
        <% end %>

        <% if snap.snap_name.present? %>
        <td><%= snap.snap_name %></td>
        <% end %>

        <td><%= snap.user_id %></td>
        <td><%= link_to 'Show', snap %></td>
        <td><%= link_to 'Edit', edit_snap_path(snap) %></td>
        <td><%= link_to 'Destroy', snap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snap', new_snap_path %>
