<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Snap:</strong>

  <% if @snap.snap.present? %>
  <%= cl_image_tag @snap.snap %>
  <% end %>
</p>
<hr>
<p>
  <strong>Snap name:</strong>
  <% if @snap.snap_name.present? %>
  <%= @snap.snap_name %>
  <% end %>
</p>

<strong> <%= @snap.comments.length %> Comments:</strong><br/>

    <% @snap.comments.each do |c| %>
    <%= c.comment_string %><br/>
    <% end %>
<hr>


<%= render 'comments/form', snap: @snap, comment: Comment.new %>
</div>
</div>
<%= link_to 'Edit', edit_snap_path(@snap) %> |
<%= link_to 'Back', snaps_path %>
