<p id="notice"><%= notice %></p>

<p>
  <strong>Snap:</strong>
  <% if @snap.snap.present? %>
  <%= cl_image_tag @snap.snap %>
  <% end %>
</p>
<hr>
<p>
  <strong>Snap name:</strong>
  <% if @snap.snap_name.present? %>
  <%= @snap.snap_name %>
  <% end %>

</p>

<p>
  <strong>User:</strong>

  <%= @snap.user_id %>
</p>

<%= link_to 'Edit', edit_snap_path(@snap) %> |
<%= link_to 'Back', snaps_path %>
