<!DOCTYPE html>
<html>
  <head>
    <title>SnapchatApp</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <header>
    <div class="row text-center">
      <!-- <img class="logo" src="/assets/logo/logo.png" /> -->
    </div>
    </header>

    <% if @current_user.present? %>
     Welcome, <%= @current_user.name %>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Snaptastic</a>



        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Gallery</a>
            </li>
            <br>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Filters</a>
            </li>
            <br>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Login</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact"><%= link_to 'Profile', @current_user , class: "welcomeuser"%></a>
            </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">
              <%= link_to 'Logout', login_path, method: :delete %></a>
            </li>
            <% else %>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">
              <%= link_to 'Login', login_path %></a>
            </li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>
    <!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to 'SNAPTASTIC', root_path, class: "navbar-brand" %>

        </div>


        <div class="collapse navbar-collapse" id="myNavbar">
          <div >
            <% if @current_user.present? %>
              <h5><%= link_to @current_user.name, @current_user , class: "welcomeuser"%></h5>
            <% end %>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <% if @current_user.present? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Gallery', snaps_path %></li>
              <li><%= link_to 'Profile', @current_user %></li>

              <li><%= link_to 'Logout', login_path, method: :delete %></li>
            <% else %>
              <li>  <%= link_to 'Home', root_path %></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Games</a></li>
              <li><a href="#portfolio">Our Values</a></li>
              <li>  <%= link_to 'Login', login_path %></li>

            <% end %>
          </ul>
        </div>
      </div>
    </nav> -->
    <%= yield %>
  </body>
</html>
